.room-seat-info {
  margin-top: -7px;
  text-align: center;
}

.room-seat-role {
  font-size: 20px;
}

.room-seat-rest {
  font-weight: 900;
  font-size: 20px;
}

.room-operation-main {
  font-weight: 900;
  font-size: 16px;
}

.gameroom {
  background-image: url('../../../../res/create_room_bg2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}